@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap');
body {
  margin: 0 auto;
  font-family: 'Source Sans Pro', sans-serif !important;
}
header {
  display: flex;
  background: linear-gradient(to left, #ffffff 50%, #262626 50%);
}
.introduce {
  text-align: center;
  padding: 70px 0;
  width: 100%;
}
.introduce .ava {
  display: flex;    
  justify-content: center;
}
.introduce .ava img {
  width: 30%;
  transition: 0.5s;
  -webkit-box-shadow: -4px 0px 13px 4px rgba(0,0,0,0.73); 
  box-shadow: -4px 0px 13px 4px rgba(0,0,0,0.73);
}

.introduce .introduce-small {
  display: flex;
  justify-content: center;
  letter-spacing: 5px;
  margin: 10px 0;
  text-shadow: 5px 5px 15px rgb(112, 111, 111) ;
}
.introduce .introduce-small  h1{
  font-size: 50px;
  font-weight: bold;
}
.introduce .introduce-small  p{
  font-size: 30px;
  opacity: 0.9;
}

.introduce .introduce-small .intro-left
{
  width: 50%;
  text-align: right;
color:  #ffffff;
padding-right: 0px;
}
.introduce .introduce-small .intro-right
{
  width: 50%;
  text-align: left;
  border-left: 10px solid #8d968f;
  margin-left: 20px;
  display: block;
  padding-left: 15px;
}
.nav-contain
{
  background-color: #ffffff;
  margin-top: 20px;
  margin-bottom: 5px;
}

.navbar-toggler-icon
{
  margin: 5px;
}
.menu {
  margin-top: 100px;
}
.menu-parent {
  display: flex;
  list-style: none;
  justify-content: space-around;
  width: 100%;
}
ul.menu-parent li {
  border: 3px solid #262626;
  border-radius: 30px;
  background-color: #262626;
}

.menu-parent a {
  text-decoration: none;
  padding: 10px 10px;
  color: #ffffff !important;
  font-size: 25px;
  font-weight: 900;
  text-align: center;
}
ul.menu-parent li:hover {
  background-color: #ffffff;
  transition: 0.5s;
}
ul.menu-parent li a:hover {
  color: #1c1c1c !important;
  transition: all 0.5s ease-in-out;
}

.main-content .contain
{
  border: 5px solid #1c1c1c;
  border-radius: 15px;
  width: 95%;
  margin: 0 auto;
}
.main-content p
{
  font-size: 30px;
  padding: 10px 10px 10px 20px;
  letter-spacing: 0px;
  font-weight: 500;
  word-spacing: 5px;
}
.carousel-inner
{
  max-height: 80vh;
  margin-top: 40px;
}
footer {
  
  border-bottom: 30px solid #a39d9d;
}
footer .list-contact {
  justify-content: center;
  display: flex;
  /* border-bottom: 50px solid #a39d9d; */
}
footer .list-contact ul {
  display: flex;
  justify-content: center;
  list-style: none;
}
footer .list-contact ul li {
  text-align: center;
  padding: 20px 30px;
}
footer .list-contact ul a {
  text-decoration: none;
}
footer .list-contact ul a i {
  font-size: 40px;
  color: #262626;
  transition: 0.5s;
}
footer .list-contact ul a.facebook i:hover {
  color: #0037a6;
  transition: 0.5s;
}
footer .list-contact ul a p {
  font-size: 20px;
  letter-spacing: 3px;
  color: #1c1c1c;
  transition: 0.5s;
}
footer .list-contact ul a.facebook p:hover {
  color: #0037a6;
  transition: 0.5s;
}
footer .list-contact ul a.instagram i:hover {
  color: #e62431;
  transition: 0.5s;
}
footer .list-contact ul a.instagram p:hover {
  color: #e62431;
  transition: 0.5s;
}
@media (max-width: 700px)
{
  .introduce .ava img 
  {
    width: 50%;
  }
  .introduce .introduce-small .intro-left h1
  {
    font-size: 30px;
  }
  .introduce .introduce-small .intro-left p 
  {
    font-size: 25px;
    font-weight: 500;
  }
  .introduce .introduce-small .intro-right p
  {
    font-size: 18px !important;
    font-weight: 600;
  }
  .carousel-inner
  {
     min-height: 100vh;
  }
}
